*,
body {
  margin: 0;
  padding: 0;
}

.img {
  width: 200px;
  height: 200px;
  background-image: url('../images/1.jpg');
}

.example {
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
